<!--pages/problemList/problemList.wxml-->
<view>
  <view class='listbox'>
    <view class='listrow' wx:for='{{list.data}}'  wx:key="{{bd}}" wx:for-index="index" data-item="{{item}}" >
      <view class='rowtop'>
        <view class='topleft'>
          <view class='shopname'>
            {{item.shopName}}
          </view>
          <view class='hint'>{{item.sendState}}</view>
          <view class='num'>已扫描:{{item.amount}}</view>
        </view>
        <view class='topright' 
            data-index="{{index}}" 
            data-item="{{item}}"
            data-name="{{item.shopName}}"
            data-shopid="{{item.shopId}}"
            data-address="{{item.shopAddress}}"
            data-batchId="{{item.batchId}}"
            bindtap='oneMore'>
          再次投递
        </view>
      </view>
      <view class='rowbottom'>
        <view class='time'>
          <text>拒收时间:</text>
          <text class='data'>{{item.updateDate}}</text>
        </view>
        <view class='note'>
          <text>拒收原因:</text>
          <text class='data'>{{item.note}}</text>
        </view>
      </view>
      <view class='bottomright' data-batchId="{{item.batchId}}" bindtap='delClick'>批量删除</view>
    </view>

  </view>
  <view class='block'></view>
  <view class='bottom'>
  <button bindtap='hrefbtn'>新增快递</button>
  </view>
</view>