<!--pages/searchWaybill/waybill.wxml-->
<!-- <view class="bigBox">
  <view class="inputBox">
    <input bindconfirm="searchWaybill" confirm-type="search" focus="{{focus}}" placeholder='请输入运单号' bindinput="searchValue" value="{{codeValue}}"></input>
  </view>
  <image src='/image/icon/icon_shaomiao@2x.png' wx:if="{{!searchText}}" bindtap='scanCode'></image>
  <text wx:if="{{searchText}}" bindtap='searchWaybill'>查询</text>
  <image src='/image/icon/icon_shanchu@2x.png' hidden='{{!reset}}' class="reset" catchtap='reset'></image>
</view> -->
  <view class='headerBox'>
    <view class="searchBox">
      <view class="searchInput">
        <image src='/image/newVersion/search.png'></image>
        <input bindconfirm="searchWaybill" confirm-type="search" focus="{{focus}}" placeholder='请输入收件人手机号/运单号' bindinput="searchValue" value="{{codeValue}}"></input>
        <image hidden='{{!reset}}' catchtap='reset' class="reset" src='/image/icon/icon_guanbi@2x.png' bindtap='reset'></image> 
        <image class="saoma" src='/image/newVersion/saomakuang.png' bindtap='scanCode'></image>
      </view>
      <view class="searchBtn" bindtap='searchWaybill'>查询</view>
    </view>
  </view>

  <block wx:for="{{waybillList}}" wx:key="waybillList" wx:for-index="index2">
    <!-- <block wx:for="{{SIGNED}}"> -->
    <view class="waybillList" bindtap='toDetail' data-item="{{item}}">
      <!-- <image src='/image/icon/icon_yundanhao@2x.png'></image> -->
      <view class="waybill">
        <view class="name">收件人电话：{{item.phone}}</view>
        <view class="number">运单号：{{item.expressNum}}</view>
      </view>
      <view class="status">
        <text>{{item.stateCN}}</text>
        <image wx:if="{{item.msgType=='0'&&item.msgStatus=='0'}}" style='width:30rpx;height:26rpx;margin-left:10rpx;margin-top:4rpx;' src="/image/newVersion/fasongzhong.png"></image>
                      <image wx:elif="{{item.msgType=='1'}}" style='width:30rpx;height:26rpx;margin-left:10rpx;margin-top:4rpx;' src="/image/newVersion/weixintuisong.png"></image>
                      <image wx:elif="{{item.msgType=='0'&&item.msgStatus=='1'}}" style='width:30rpx;height:26rpx;margin-left:10rpx;margin-top:4rpx;' src="/image/newVersion/info_successed.png"></image>
                      <image wx:elif="{{item.msgType=='0'&&item.msgStatus=='2'}}" style='width:30rpx;height:26rpx;margin-left:10rpx;margin-top:4rpx;' src="/image/newVersion/shibai.png"></image>
      </view>
    </view>
    <!-- </block> -->

  </block>
<view class="noWaybill" hidden='{{noWaybill}}'>未找到相关订单</view>