<!--pages/SetPhone/SetPhone.wxml-->
<view class='listrow list'>
    <text class='text'>运单号</text>
    <text class='data'>{{list.express_id}}</text>
  </view>
  <view class='listrow'>
    <text class='text'>收件人电话</text>
    <input type='text'  bindinput ="phoneInput" placeholder='{{list.phone}}' placeholder-class='placeholder' focus></input>
</view>
<button bindtap='setClick'>提交修改</button>