/* pages/Setbox/Setbox.wxss */
.listrow{
  height:50px;
  line-height:50px;
  background-color:#FFF;
  border-bottom:1px solid #ccc;
}

.listrow.list{
  background-color:#f4f4f4;
}

.listrow .text{
  display: inline-block;
  height:50px;
  margin-left:10px;
}

.listrow .data{
  display: inline-block;
  height:50px;
  margin-right:10px;
  float:right;
}

input{
  display: inline-block;
  float:right;
  height:100%;
  width:150px;
  text-align: right;
  margin-right:10px;
  font-size:16px;
}

button{
  width:90%;
  background-color:#F06100;
  color:#FFF;
  margin:20px 5% 0 5%;
}

.placeholder{
  font-size:16px;
}